@use '../abstracts/' as *;

.newsletter {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-color: $white;

  @include breakpoint(mobile) {
    max-width: 30rem;
    min-height: unset;
    border-radius: 0 0 16px 16px;
  }

  @include breakpoint(desktop) {
    max-width: 58rem;
    flex-direction: row;
    padding: 1.5rem;
    border-radius: 36px;
  }

  &__content {
    padding: 2.5rem 1.5rem;
    @include breakpoint(desktop) {
      padding: 4.5625rem 4rem 4.5625rem 2.5rem;
    }
  }

  &__title {
    @include text-heading($dark-navy);
  }

  &__subtitle {
    @include text-body-regular($dark-navy);
    margin-top: 1.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 1.5rem;
  }

  &__item {
    @include text-body-regular($dark-navy);
    position: relative;
    padding-left: 2.3125rem;

    &::before {
      content: '';
      background-image: url('../../assets/images/icon-success.svg');
      background-size: contain;
      height: 21px;
      width: 21px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__form {
    margin-top: 2.5rem;
  }

  &__form.error &__input {
    background-color: rgba($vermellion, 0.15);
    border: 1px solid $vermellion;
    color: $vermellion;

    &::placeholder {
      color: $vermellion;
    }
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__label {
    @include text-body-small($dark-navy);
  }

  &__error-message {
    @include text-body-small($vermellion);
    position: absolute;
    right: 0;
    display: none;
  }

  &__form.error &__error-message {
    display: block;
  }

  &__input {
    @include text-body-regular($dark-navy);
    height: 3.5rem;
    border: 1px solid $grey;
    border-radius: 8px;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    cursor: pointer;
  }

  &__submit {
    @include text-body-bold($white);
    @extend %button;
    margin-top: 1.5rem;
  }

  &__illustration {
    height: 17.75rem;
    width: 100%;
    overflow: hidden;
    background-image: url('../../assets/images/illustration-sign-up-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 0 0 16px 16px;

    @include breakpoint(desktop) {
      height: auto;
      max-width: 25rem;
      border-radius: 1rem;
      background-image: url('../../assets/images/illustration-sign-up-desktop.svg');
    }
  }
}
