@use 'variables' as *;
$mobile: 30rem;
$tablet: 48rem;
$desktop: 62rem;

$breakpoints: (
  'mobile': $mobile,
  'tablet': $tablet,
  'desktop': $desktop,
);

@mixin breakpoint($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
