//Global colors

$white: #fff;
$error: #f74646;

//Theme colors

$themes: (
  light: (
    primary: #0079ff,
    primary-hover: #60abff,

    background: #f6f8ff,
    background-secondary: #fefefe,

    txt-high-contrast: #2b3442,
    txt-mid-contrast: #4b6a9b,
    txt-low-contrast: #697c9a,

    toggle-theme: #697c9a,
    toggle-theme-hover: #222731,
    logo: #222731,
  ),
  dark: (
    primary: #0079ff,
    primary-hover: #60abff,

    background: #141d2f,
    background-secondary: #1e2a47,

    txt-high-contrast: #fff,
    txt-mid-contrast: #ffff,
    txt-low-contrast: #fff,

    toggle-theme: #ffffff,
    toggle-theme-hover: #90a4d4,
    logo: #fff,
  ),
);
