@use './abstracts/' as *;

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
}

body {
  background-color: $pale-navy;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: start;

  @include breakpoint(desktop) {
    align-items: center;
  }
}

.hidden {
  display: none;
}
