@use './abstracts/' as *;

@include themify($themes) {
  *,
  *::after,
  *::before {
    transition: background 350ms ease-in-out, color 350ms ease-in-out;
  }
  html {
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: center;
    background-color: themed('background');
  }

  .container {
    max-width: 20.4375rem;
    margin: 31px 24px;
  }
}
