@use './abstracts/' as *;

.transition-enabled * {
  transition: all 550ms ease-in-out;
}
@include themify($themes) {
  html {
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: center;
    background: themed('background');
  }

  .container {
    max-width: 20.4375rem;
    margin: 1.9375rem 1.5rem;
    width: 100%;

    @include breakpoint(tablet) {
      max-width: 35.8125rem;
    }
  }
}
