@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  @apply text-2xl font-bold rounded-[5px] hover:bg-strong-cyan hover:text-very-dark-cyan leading-12 w-full bg-very-dark-cyan text-white;
}
.button-secondary {
  @apply text-2xl font-bold rounded-[5px] hover:bg-strong-cyan hover:text-very-dark-cyan leading-12 w-full bg-very-light-grayish-cyan text-[#547878];
}
