@use '../abstracts/' as *;
@include themify($themes) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      font-size: 26px;
      font-weight: 700;
      color: themed('logo');
      line-height: 38px;
    }
    &__theme-switcher {
      background: none;
      cursor: pointer;
      border: none;
      color: themed('toggle-theme');
      font-weight: 700;
      letter-spacing: 2.5008px;
      display: flex;
      align-items: center;
      gap: 13px;
      transition: color 10ms ease-in-out;

      span {
        font-size: 13px;
      }

      @include breakpoint(desktop) {
      }

      path {
        fill: themed('toggle-theme');
      }
      &:hover {
        color: themed('toggle-theme-hover');

        path {
          fill: themed('toggle-theme-hover');
        }
      }
    }
  }
}
