@use '../abstracts/' as *;
@include themify($themes) {
  .search-form {
    margin: 2.25rem 0 1rem;
    background: themed('background-secondary');
    border-radius: 15px;
    padding: 0.375rem 0.4375rem 0.4688rem 1rem;
    display: flex;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
    align-items: center;

    @include breakpoint(tablet) {
      padding: 0.5625rem 0.625rem 0.6563rem 2rem;
      margin: 2.25rem 0 1.5rem;
    }

    &__icon {
      max-width: 1.25rem;
      max-height: 1.25rem;

      @include breakpoint(tablet) {
        max-height: 1.5rem;
        max-width: 1.5rem;
      }
    }
    &__input {
      flex-grow: 1;
      border: none;
      font-family: inherit;
      font-size: 0.8125rem;
      color: themed('txt-mid-contrast');
      margin: 0.125rem 0.5rem 0 0.4375rem;
      line-height: 1.5625rem;
      outline: none;
      background: none;

      @include breakpoint(tablet) {
        font-size: 1.125rem;
        margin: 0rem 0.5rem 0 1.3125rem;
      }
    }

    &__no-results {
      display: none;
      font-size: 15px;
      font-weight: 700;
      color: $error;
      margin-right: 24px;
    }

    &__error .search-form__no-results {
      display: block;
    }

    &__button {
      font-family: inherit;
      color: $white;
      background: themed('primary');
      border: none;
      font-size: 0.875rem;
      font-weight: 700;
      padding: 0.7813rem 0.875rem 0.7813rem 1.125rem;
      border-radius: 0.625rem;
      cursor: pointer;

      @include breakpoint(tablet) {
        min-height: 3.125rem;
        font-size: 1rem;
        width: 6.625rem;
      }

      &:hover {
        background: themed('primary-hover');
      }
    }
  }
}
