$mobile: 30rem;
$tablet: 48rem;
$desktop: 62rem;

$breakpoints: (
  'mobile': $mobile,
  'tablet': $tablet,
  'desktop': $desktop,
);

@mixin breakpoint($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin text-heading($color: inherit) {
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 700;
  color: $color;

  @include breakpoint(desktop) {
    font-size: 3.5rem;
  }
}
@mixin text-body-small($color: inherit) {
  font-size: 12px;
  line-height: 150%;
  font-weight: 700;
  color: $color;
}

@mixin text-body-regular($color: inherit) {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  color: $color;
}
@mixin text-body-bold($color: inherit) {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
  color: $color;
}
